
@if(Model != null && Model?.Name != null)
{
    <h1 class="text-success">Session is activated now @Model</h1>

    <p>I will be expiring when idle for 1 minute ...</p>
}
else
{
    <h1 class="text-danger">Session is not activated</h1>

    <p>Click session link first</p>
}
