@model CommentForm


<form method="POST" class="mb-5">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Comment</label>
        <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@{
    if (TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success" role="alert">
            <p>@TempData["SuccessMsg"]</p>
        </div>
    }


    // if (TempData.Peek("SuccessMsg") != null)
    // {
    //     <div class="alert alert-success" role="alert">
    //         <p>@TempData.Peek("SuccessMsg")</p>
    //     </div>
    // }

    // TempData.Keep("SuccessMsg");
}

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}