@if (Model != null && Model?.Id != null)
{
    <h1 class="text-success">Cookie is activated now @Model</h1>

    <p>I will be expiring in 1 minute...</p>
}
else
{
    <h1 class="text-danger">Cookie is not activated</h1>

    <p>Click cookie link first</p>
}

